/* Dash */

$dash_background_color: lighten($system_bg_color, 5%);
$dash_placeholder_size: 32px;
$dash_padding: $base_padding*2; // 12px
$dash_border_radius: $modal_radius + $dash_padding;

// container for the dash
#dash {
  @extend %caption;
  margin: 2em;

  .placeholder {
    // background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-image:none;
    background-size: contain;
    height: $dash_placeholder_size;
  }

  .empty-dash-drop-target {
    width: $dash_placeholder_size;
    height: $dash_placeholder_size;
  }

  // Running app indicator (also shown in app grid)
  .app-well-app-running-dot {
    margin-bottom: 15px; // hardcoded
  }
}

// background of the dash behind app icons
.dash-background {
  background-color: $dash_background_color;
  border-radius: $dash_border_radius;
  padding: $dash_padding;
  spacing: $base_padding;
}

// items on the dash
.dash-item-container {
  // each app item on the dash
  .app-well-app .overview-icon {
    margin: 0 4px;
    padding: $base_padding;
  }

  // show apps button
  .show-apps { @include overview_icon($osd_fg_color);}
}

// separator between favourites and running apps
.dash-separator {
  width: 1px;
  background-color: $borders_color;
}

// OSD Tooltip
.dash-label {
  color: $osd_fg_color;
  background-color: $osd_bg_color;
  border-radius: 99px;
  padding: $base_padding $base_padding * 2;
  text-align: center;
  -y-offset: $base_margin * 2; // distance from the dash edge
}
