// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

%search_entry,
.search-entry {
  background-color: lighten($bg_color, 5%);
  border-width: 2px;
  border-color: transparent;
  border-radius: $search_entry_height * 0.5; // half the height
  color: transparentize($fg_color,0.3);
  margin-top: $base_spacing * 2;
  margin-bottom: $base_spacing;
  padding: $base_padding+1 $base_padding+3;
  width: $search_entry_width;
  
  &:hover {
    background-color: lighten($hover_bg_color, 5%);
    color: lighten($hover_fg_color, 5%);
  }

  &:focus {
    border-style: solid;
    border-color: $selected_bg_color;
    color: $fg_color;
    box-shadow: none;
  }

  .search-entry-icon { 
    color: inherit;
    icon-size: $base_icon_size;
    margin-top: 2px; // center vertically
    padding: 0 4px;
  }
}
