/* Search */

// search overview container
#searchResultsContent {
  max-width: 1024px;
  spacing: $base_margin * 2;
}

// search results sections "the boxes"
.search-section {
  // This should be equal to #searchResultsContent spacing
  spacing: $base_margin * 2;

  // separator (unstyled)
  .search-section-separator { 
    height: $base_margin*2; // use it as a spacer
    background-color: transparent;
  }
}

// content
.search-section-content {
  background-color: lighten($system_bg_color, 5%);
  border-radius: $modal_radius*1.5;
  border: 1px solid $osd_outer_borders_color;
  box-shadow: none;
  text-shadow: none;
  color: $osd_fg_color;
  padding: $base_padding*2;
  margin: $base_margin;
  // This is the space between the provider icon and the results container
}

%search_section_content_item {
  @include tile_button($osd_fg_color);
  margin: $base_margin;
  border-radius: $base_border_radius !important;
}

// "no results" text
.search-statustext {
  @extend %large_title;
}

.grid-search-results {
  spacing: $base_padding * 6;
}

// Search results with icons
.grid-search-result {
  @extend .app-well-app;
}

// search result provider
.search-provider-icon {
  @extend %search_section_content_item;

  // content
  .list-search-provider-content {
    spacing: $base_padding * 2;

    // provider labels
    .list-search-provider-details {
      width: 120px;
      color: $osd_fg_color;
    }
  }
}

// search results list
.list-search-results {
  spacing: $base_padding;
}

// search result listitem
.list-search-result {
  @extend %search_section_content_item;

  // content
  .list-search-result-content {
    spacing: $base_padding;
  }

  // list item title (with leading icon)
  .list-search-result-title {
    spacing: $base_padding * 2;
    // font-weight: bold;
  }

  // list item description
  .list-search-result-description {
    color: $osd_insensitive_fg_color;
  }
}
