dropdown > popover.menu.background > contents { padding: 0; }

dropdown > button > box {
  border-spacing: 6px;
}

dropdown,
combobox {
  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    min-height: 16px;
    min-width: 16px;
  }

  // align menu labels with the button label
  > popover.menu > contents modelbutton {
    padding-left: 9px;
    padding-right: 9px;
  }

  &.linked {
    button:nth-child(2) {
      &:dir(ltr) { @extend %linked_not_left; }
      &:dir(rtl) { @extend %linked_not_right; }
    }
  }

  &:drop(active) { // FIXME: untested
    box-shadow: none;

    button.combo { @extend %button_basic_drop_active; }
  }

  // newstyle
  popover {
    margin-top: 6px;
    padding: 0;

    listview {
      padding: 8px 0;

      & > row {
        padding: 8px;

        &:selected {
          outline-color: $alt_focus_border_color;
          color: $text-color;
          background-color: $menu_selected_color;
        }
      }
    }

    // dropdowns with searchboxes on top
    .dropdown-searchbar {
      padding: 6px;
      border-bottom: 1px solid $borders_color;
    }
  }
}

// the combo is a composite widget so the way we do button linking doesn't
// work, special case needed. See
// https://bugzilla.gnome.org/show_bug.cgi?id=733979

.linked:not(.vertical) > combobox {
  &:dir(ltr) {
    &:not(:first-child) > box > button.combo { @extend %linked_not_left; }
    &:not(:last-child) > box > button.combo { @extend %linked_not_right; }
  }

  &:dir(rtl) {
    &:not(:first-child) > box > button.combo { @extend %linked_not_right; }
    &:not(:last-child) > box > button.combo { @extend %linked_not_left; }
  }
}

.linked.vertical > combobox {
  &:not(:first-child) > box > button.combo { @extend %linked_not_top; }
  &:not(:last-child) > box > button.combo { @extend %linked_not_bottom; }
}

.linked:not(.vertical) > appchooserbutton {
  &:dir(ltr) {
    &:not(:first-child) > combobox > box > button.combo { @extend %linked_not_left; }
    &:not(:last-child) > combobox > box > button.combo { @extend %linked_not_right; }
  }

  &:dir(rtl) {
    &:not(:first-child) > combobox > box > button.combo { @extend %linked_not_right; }
    &:not(:last-child) > combobox > box > button.combo { @extend %linked_not_left; }
  }
}

.linked.vertical > appchooserbutton {
  &:not(:first-child) > combobox > box > button.combo { @extend %linked_not_top; }
  &:not(:last-child) > combobox > box > button.combo { @extend %linked_not_bottom; }
}
