# Meson suggested build directories (local and package)
build/
/obj-*/

# Packaging generated content
debian/*debhelper*
debian/files
debian/*.substvars
debian/gtk-communitheme/
debian/gnome-shell-communitheme/
debian/tmp/
debian/ubuntu-communitheme-session/
debian/communitheme-sounds/
debian/suru-icon-theme/

# snapcraft build artefacts
parts/
stage/
prime/
snap/.snapcraft/state
*.snap
