# Meson suggested build directories (local and package)
build/
/obj-*/

# Packaging generated content
debian/*debhelper*
debian/files
debian/*.substvars
debian/tmp/
debian/gnome-shell-theme-communitheme/
debian/gtk-theme-communitheme/
debian/icon-theme-communitheme/
debian/sound-theme-communitheme/

# snapcraft build artefacts
parts/
stage/
prime/
snap/.snapcraft/state
*.snap
