/************
 * Calendar *
 ***********/
calendar {
  color: $text_color;
  border: 1px solid $borders_color;

  &:selected {
    @extend %selected_items;

    border-radius: 3px;
  }

  &.header {
    border-bottom-color: transparentize(black, 0.9);

    &:backdrop { border-bottom-color: transparentize(black, 0.9); }
  }

  &.button {
    @extend %undecorated_button;

    color: transparentize($fg_color, 0.55);

    &:hover { color: $fg_color; }

    &:backdrop { color: transparentize($backdrop_fg_color,0.55); }

    &:disabled { color:  transparentize($insensitive_fg_color,0.55); }
  }

  &.highlight {
    color: $insensitive_fg_color;

    &:backdrop { color: $backdrop_insensitive_color; }
  }

  &:backdrop {
    color: $backdrop_text_color;
    border-color: $backdrop_borders_color;
  }

  &:indeterminate { color: gtkalpha(currentColor, 0.1); }
}
