// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
@import "ubuntu-colors";
$base_color: if($variant == 'light', #FAFAFA, $jet);
$bg_color: if($variant == 'light', #fdfdfd, #252525);
$fg_color: if($variant == 'light', $slate, $porcelain);
$subheader_fg_color: darken($fg_color, 10%);
$caption_fg_color: darken($fg_color, 20%);
$text_color: darken($fg_color, 30%);
$inactive_element_color: darken($fg_color, 40%);
//
$panel_bg_color: lighten($jet, 2%);
$panel_fg_color: $porcelain;
$dash_bg_color: $panel_bg_color;
$menu_color: #252525;
//
$selected_fg_color: #ffffff;
$selected_bg_color: $orange;
$selected_borders_color: if($variant=='light', darken($selected_bg_color, 5%),
                                               darken($selected_bg_color, 15%));
$text_selection: lighten($blue,35%);
                                               
$borders_color: if($variant =='light', darken($bg_color,30%), darken($bg_color,12%));
$borders_edge: if($variant =='light', white, transparentize($fg_color, 0.9));
$link_color: $blue;
//
$link_visited_color: if($variant == 'light', darken($link_color,20%),
                                     lighten($link_color,10%));
$dark_fill: #C7C7C7;
//
$warning_color: $yellow;
$error_color: $red;
$success_color: $green;
$destructive_color: darken($red, 10%);
$neutral_color: $blue;
$indication_bg_color: $blue;
$inactive_indication_bg_color: darken($ash,5%);
//
$osd_fg_color: $fg_color;
$osd_bg_color: $panel_bg_color;
$button_bg_color: $osd_bg_color;
$osd_borders_color: transparentize($fg_color, 0.91);
//
$base_hover_color: transparentize($fg_color, 0.85);
$base_active_color: transparentize($fg_color, 0.80);
$hover_fg_color: lighten($selected_fg_color, .25);
$active_fg_color: transparentize($selected_fg_color, .5);
//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;
// light colors imported from gtk theme
$light_bg_color: #FAFAFA;
$light_base_color: #FFF;
$dark_fg_color: $inkstone;
$dark_subtext_color: #2d2d2d;
$light_borders_color: darken($light_bg_color, 18%);
$light_button_bg_color: darken($light_bg_color, 3%);
$light_base_hover_color: transparentize($dark_fg_color, 0.85);
$light_base_active_color: transparentize($dark_fg_color, 0.80);
