// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
@import "ubuntu-colors";
// $base_color: if($variant =='light', #ffffff, #292929);
// $bg_color: if($variant =='light', #ededed, #393f3f);
// $fg_color: if($variant =='light', #2e3436, #eeeeec);
$base_color: if($variant =='light', #ffffff, $ubuntu_base_color);
$bg_color: if($variant =='light', #ededed, $ubuntu_bg_color);
$fg_color: if($variant =='light', #2e3436, $ubuntu_fg_color);

$selected_fg_color: #ffffff;
$selected_bg_color: $orange; // if($variant == 'light', #4a90d9, darken(#4a90d9,20%));
$selected_borders_color: if($variant=='light', darken($selected_bg_color, 30%),
                                               darken($selected_bg_color, 20%));
$borders_color: if($variant =='light', darken($bg_color,30%), darken($bg_color,12%));
$borders_edge: if($variant =='light', white, transparentize($fg_color, 0.9));
$link_color: $blue; // if($variant == 'light', darken($selected_bg_color,10%),
//                                     lighten($selected_bg_color,20%));
$link_visited_color: if($variant == 'light', darken($link_color,20%),
                                     lighten($link_color,10%));
$top_hilight: $borders_edge;

$warning_color: $yellow;
$error_color: $red;
$success_color: $green;
$destructive_color: darken($red, 10%);
$neutral_color: $blue;

// $osd_fg_color: #eeeeec;
// $osd_bg_color: #2e3436;
// $osd_borders_color: transparentize(black, 0.3);
// $osd_outer_borders_color: transparentize(white, 0.9);
$osd_fg_color: $fg_color;
$osd_bg_color: $jet;
$button_bg_color: lighten($osd_bg_color, 15%);;
$osd_borders_color: lighten($borders_color, 20%);
//
$base_hover_color: transparentize($fg_color, 0.95);
$base_active_color: transparentize($fg_color, 0.90);
$active_fg_color: transparentize($selected_fg_color, .5);
//
$dialog_fg_color: $slate;
$dialog_bg_color: $porcelain;
$dialog_borders_color: darken(#F7F7F7, 25%);
// $tooltip_borders_color: $osd_outer_borders_color; // is this being used?

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);
