Source: gtk-communitheme
Section: misc
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 10.3),
               meson,
               sassc,
Standards-Version: 4.1.1
Homepage: https://github.com/ubuntu/gtk-communitheme

Package: gtk-communitheme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: GTK Ubuntu Community Theme
 This is the theme that is shaped by the community on the Ubuntu hub.
 .
 This package contains the GTK+ 2 and 3 theme parts
 .
 More information if you want to follow the development on
 https://community.ubuntu.com/c/desktop/theme-refresh.
