Source: yaru-theme
Section: misc
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 10.3),
               meson,
               sassc,
Standards-Version: 4.1.1
Homepage: https://github.com/ubuntu/yaru

Package: yaru-theme-gnome-shell
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Yaru GNOME Shell theme from Ubuntu Community
 This is the theme that is shaped by the community on the Ubuntu hub.
 .
 This package contains the GNOME Shell theme part
 .
 More information if you want to follow the development on
 https://community.ubuntu.com/c/desktop/theme-refresh.

Package: yaru-theme-gtk
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gnome-themes-extra,
         gtk2-engines-pixbuf,
         gtk2-engines-murrine,
Description: Yaru GTK theme from Ubuntu Community
 This is the theme that is shaped by the community on the Ubuntu hub.
 .
 This package contains the GTK+ 2 and 3 theme parts
 .
 More information if you want to follow the development on
 https://community.ubuntu.com/c/desktop/theme-refresh.

Package: yaru-theme-icon
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Yaru icon theme from Ubuntu Community
 This is the theme that is shaped by the community on the Ubuntu hub.
 .
 This package contains the icon theme
 .
 More information if you want to follow the development on
 https://community.ubuntu.com/c/desktop/theme-refresh.

Package: yaru-theme-sound
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Yaru sound theme from Ubuntu Community
 This is the theme that is shaped by the community on the Ubuntu hub.
 .
 This package contains the sound theme
 .
 More information if you want to follow the development on
 https://community.ubuntu.com/c/desktop/theme-refresh.
