# licenserecon
#
# This file lists files and directories to be excluded from checking, to avoid
# false positives.
#
# Lines starting with # are treated as comments. Blank lines are ignored.
# Lines starting with minus sign(s) are treated as command line options
#
# File names may include a partial path.
#
# Wildcards '*' are not supported.
#
# For directories identified by trailing slash / the entire contents will be
# (recursively) excluded.

# False positive
meson.build
