.review-row {
    margin-bottom: 10px;
    padding: 6px 12px;
    box-shadow: 0 1px 2.5px transparentize(black, 0.75);
    outline-offset: -1px;

    &,
    &:not(:selected):not(:backdrop):hover,
    &:not(:selected):not(:backdrop):active { background-color: $base_color; }

    &:backdrop { background-color: $backdrop_base_color; }

    &:last-child { margin-bottom: 0; }

    > grid { margin-top: -24px; }
}

.app-listbox-header { background: $dark_fill; }

.list-box-app-row {
    border-radius: 0;
    border-color: $borders_color;
    border-style: none solid solid solid;
    border-width: 0 1px 1px 1px;
    margin: -1px 0 0 0;

    & ~ separator {
    background-color: $bg_color;
    border: none;
    min-height: 0px;
    }
}

// Avoid double border when list in included in a box (e.g. Updates view)
box > list row.list-box-app-row {
    border: none;
}

//Used as update count in GNOME software
.counter-label {
    margin-top: 2px;
    margin-bottom: 2px;
    border-width: 0px;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: inset 0 0 10px 10px $success_color;
}
