// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$ash: #878787;

// Utility
$red: #c7162b;
$orange: #E95420;
$yellow: #f99b11;
$green: #0e8420;
$blue: #19B6EE;
$darkblue: #335280;
$linkblue: #007aa6;
$purple: #762572;
