// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$ash: #878787;

// Utility
$red: #ED3146;
$orange: #E95420;
$yellow: #F89B0F;
$green: #3EB34F;
$blue: #335280;
$purple: #762572;
