// Yaru colors overwrite

$fill_bg_color: gtkcolor(fill_bg_color);
$fill_fg_color: gtkcolor(fill_fg_color);

$fill_color: $fill_bg_color;
$fill_text_color: $fill_fg_color;

$slider_color: gtkmix(white, $view_bg_color, 80%);
$slider_hover_color: white;

$osd_fg_color: #eeeeec;
$osd_bg_color: transparentize(lighten($dark_4, 2%), 0.025);

$drop_target_color: $success_color;

// Ignore transformations when using dark accent colors
$selected_bg_color: $accent_bg_color;
$progress_bg_color: $accent_bg_color;
$checkradio_bg_color: $accent_bg_color;
