// Yaru colors overwrite

$light_fg: $dark_3;
$dark_fg: $light_2;
$light_bg: #FAFAFA;
$dark_bg: lighten(#181818, 8%);

$fill_bg_color: gtkcolor(fill_bg_color);
$fill_fg_color: gtkcolor(fill_fg_color);

$suggested_bg_color: gtkcolor(suggested_bg_color);
$suggested_fg_color: gtkcolor(suggested_fg_color);
$suggested_color: gtkcolor(suggested_color);

$fill_color: $fill_bg_color;
$fill_text_color: $fill_fg_color;
$fill_hover_color: gtkmix($fill_color, currentColor, 90%);
$fill_active_color: gtkmix($fill_color, black, 80%);

$slider_color: if($variant == 'light', mix(white, $base_color, 80%), #AEA79F);
$slider_hover_color: if($variant == 'light', white, lighten(#AEA79F, 4%));

$osd_fg_color: #eeeeec;
$osd_bg_color: transparentize(lighten($dark_4, 2%),0.025);

$drop_target_color: $success_color;
