$variant: 'dark';
$ambiance: true;

// Headerbar bg colors for the "mixed" theme
$headerbar_border_color: lighten($headerbar_bg_color, 8%); // TODO: headerbar border-color

@import 'colors';
@import 'drawing';

headerbar {
  @import 'widgets/buttons';
  @import 'widgets/switch';
}

@import 'widgets/header-bar';
