$variant: 'dark';
$ambiance: true;

@import 'colors';
@import 'drawing';

// Dirty-fix for window light background overflow on top corners of the inverted headerbar
window.background.csd {
  background-image: linear-gradient(to bottom, $bg_color $window_radius, $bg_color_light 1px);
}

headerbar {
  @import 'widgets/buttons';
}

@import 'widgets/header-bar';

// Must be imported after _header-bar
headerbar {
  @import 'widgets/view-switcher';
}
