// That file create a dark theme overwrite on the headerbar
// It modify some core vars like background and text color and then reimport widgets styling with the headerbar selector

$variant: 'dark';
$ambiance: true;

@import 'colors';
@import 'drawing';

// Fix for window light background overflow on top corners of the inverted headerbar
window.background.csd {
  background-image: linear-gradient(to bottom, $bg_color $window_radius, $bg_color_light 1px);
}

headerbar {
  color: $fg_color; // reinsert fg_color

  @import 'widgets/buttons';
  @import 'widgets/switch';
  @import 'widgets/scale';
  @import 'widgets/entries';
}

windowhandle separator.vertical {
	background: $borders_color;
}

@import 'widgets/header-bar';

// Inverted headerbar tweaks
headerbar {
  box-shadow: inset 0 1px lighten($headerbar_bg_color, 6%); // Top highlight

  // Reinsert windowcontrols size tweak
  windowcontrols {
    button {
      padding: 2px;
      margin: 0 7px;
    }
  }
}

// Must be imported after _header-bar
headerbar {
  @import 'widgets/view-switcher';
}

//
// Fixes for popover menus, as they are children of the headerbar we must restyle them once again to avoid dark widgets into light menus
//

$variant: 'light';
$ambiance: false;

@import 'colors';
@import 'drawing';

popover {
  @import 'widgets/buttons';
  @import 'widgets/switch';
  @import 'widgets/scale';
  @import 'widgets/entries';
}
