$blue_1: #75d3f4;
$blue_2: #47c4f1;
$blue_3: #19B6EE; // Yaru blue
$blue_4: #007aa6; // Yaru linkblue
$blue_5: #335280; // Yaru darkblue
$green_1: #5AED70;
$green_2: #47D35C;
$green_3: #34B948;
$green_4: #219E34;
$green_5: #0e8420; // Yaru green
$yellow_1: #FCCD87;
$yellow_2: #FBC16A;
$yellow_3: #FBB44C;
$yellow_4: #FAA82F;
$yellow_5: #F99B11; // Yaru yellow
$orange_1: #F29879;
$orange_2: #F08763;
$orange_3: #ED764D;
$orange_4: #EB6536;
$orange_5: #E95420; // Yaru orange
$red_1: #EA485C;
$red_2: #DE374C;
$red_3: #D3273B;
$red_4: #c7162b; // Yaru red
$red_5: #a91224;
$purple_1: #924D8B; // Yaru aubergine
$purple_2: #762572; // Yaru purple
$purple_3: #77216F; // Yaru light aubergine
$purple_4: #5E2750; // Yaru mid aubergine
$purple_5: #2C001E; // Yaru dark aubergine
$brown_1: #E1B289;
$brown_2: #C5976E;
$brown_3: #AA7B53;
$brown_4: #8E6038;
$brown_5: #72441D;
$light_1: #FFFFFF;
$light_2: #F7F7F7; // Yaru porcelain
$light_3: #CCC; // Yaru silk
$light_4: #AEA79F; // Yaru warm gray
$light_5: #878787; // Yaru ash
$dark_1: #666666; // Yaru graphite
$dark_2: #5D5D5D; // Yaru slate
$dark_3: #3D3D3D; // Yaru inkstone
$dark_4: #181818; // Yaru jet
$dark_5: #000000;


$yaru_accent_bg_color: $orange_5 !default;
@define-color yaru_accent_bg_color #{$yaru_accent_bg_color};


// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using #{$var}.

@define-color blue_1 #{$blue_1};
@define-color blue_2 #{$blue_2};
@define-color blue_3 #{$blue_3};
@define-color blue_4 #{$blue_4};
@define-color blue_5 #{$blue_5};
@define-color green_1 #{$green_1};
@define-color green_2 #{$green_2};
@define-color green_3 #{$green_3};
@define-color green_4 #{$green_4};
@define-color green_5 #{$green_5};
@define-color yellow_1 #{$yellow_1};
@define-color yellow_2 #{$yellow_2};
@define-color yellow_3 #{$yellow_3};
@define-color yellow_4 #{$yellow_4};
@define-color yellow_5 #{$yellow_5};
@define-color orange_1 #{$orange_1};
@define-color orange_2 #{$orange_2};
@define-color orange_3 #{$orange_3};
@define-color orange_4 #{$orange_4};
@define-color orange_5 #{$orange_5};
@define-color red_1 #{$red_1};
@define-color red_2 #{$red_2};
@define-color red_3 #{$red_3};
@define-color red_4 #{$red_4};
@define-color red_5 #{$red_5};
@define-color purple_1 #{$purple_1};
@define-color purple_2 #{$purple_2};
@define-color purple_3 #{$purple_3};
@define-color purple_4 #{$purple_4};
@define-color purple_5 #{$purple_5};
@define-color brown_1 #{$brown_1};
@define-color brown_2 #{$brown_2};
@define-color brown_3 #{$brown_3};
@define-color brown_4 #{$brown_4};
@define-color brown_5 #{$brown_5};
@define-color light_1 #{$light_1};
@define-color light_2 #{$light_2};
@define-color light_3 #{$light_3};
@define-color light_4 #{$light_4};
@define-color light_5 #{$light_5};
@define-color dark_1 #{$dark_1};
@define-color dark_2 #{$dark_2};
@define-color dark_3 #{$dark_3};
@define-color dark_4 #{$dark_4};
@define-color dark_5 #{$dark_5};
