// Smaller windowcontrols and orange close button
windowcontrols {
    margin-left: 7px; // Fix windowcontrols misalignement caused by smaller windowcontrols

    button {
        padding: 2px;
        margin: 0 7px;
        &.close {
            background: $selected_bg_color;

            &:hover {
                background: lighten($selected_bg_color, 5%);
            }

            &:active {
                background: darken($selected_bg_color, 5%);
            }

            &:backdrop {
                background: desaturate($selected_bg_color, 100%);
            }

            image {
                color: $porcelain;
            }
        }
    }
}

// Reducing the amount of the palette's background colors to two
.sidebar { background-color: $bg_color; }

// Entries drown if drawn on widgets with $base_color
// Fixing this at least for notebooks, since entries on tabs is a common pattern
@if $variant=='dark' {
    notebook entry { background-color: darken($base_color, 2%); }
}

// Add some transitions on widgets
check,
radio,
switch,
switch slider,
scale > trough,
scale > trough > slider,
scale > trough > highlight {
    transition: $button_transition;
}

// Use our own palette for 
levelbar {
    > trough {
        > block {
            &.high,
            &:not(.empty) {
                background-color: $success_color;
            }
        }
    }
}
  