// Orange close button
windowcontrols {
    button {
        &.close {
            background: $selected_bg_color;

            &:hover {
                background: lighten($selected_bg_color, 5%);
            }

            &:active {
                background: darken($selected_bg_color, 5%);
            }

            &:backdrop {
                background: desaturate($selected_bg_color, 100%);
            }

            image {
                color: $porcelain;
            }
        }
    }
}

// Fix windowcontrols misalignement
windowcontrols {
    margin-left: 7px;
}

// Reducing the amount of the palette's background colors to two
.sidebar { background-color: $bg_color; }

// Entries drown if drawn on widgets with $base_color
// Fixing this at least for notebooks, since entries on tabs is a common pattern
@if $variant=='dark' {
    notebook entry { background-color: darken($base_color, 2%); }
}

// Add some transitions on widgets
check,
radio,
switch,
switch slider,
scale > trough,
scale > trough > slider,
scale > trough > highlight {
    transition: $button_transition;
}
