// overwriting the headerbar styling from common, for the inverted look in the ambiance theme

viewswitcher {
  button {
    &:not(:checked):hover:backdrop {
      background-image: image($fg_color);
    }

    headerbar &:not(:checked) {
      &:hover:not(:backdrop) {
        $c: hdyalpha($fg_color, 0.7);
        $button_fill: if($variant == 'light', linear-gradient(to top, shade($c, 0.96) 2px, $c),
                                              linear-gradient(to top, shade($c, 0.99) 2px, $c)) !global;
        background-image: $button_fill;
      }

      &:hover:backdrop {
        background-image: image($fg_color);
      }
    }
  }
}

// Fix for Libhandy headerbar sidebar separator

.windowhandle separator.sidebar.vertical {
    background: image(lighten($_button_border_color, 5%));

    &:backdrop {
      background: image($_backdrop_button_border_color);
    }
}
