switch {
  // similar to GtkScale
  border-radius: 14px;
  padding: 2px;

  transition: $focus_transition;

  @if $contrast == "high" {
     background-color: $borders_color;
     color: white;

     &:hover {
      background-color: mix($borders_color, $text_color, 90%);

      &:active { background-color: mix($borders_color, black, 80%); }
    }
   }
   @else {
     background-color: transparentize($text_color, .85);
     color: $fg_color;

     &:hover {
      background-color: transparentize($text_color, .8);

      &:active { background-color: transparentize(black, .75); }
    }

    > image { color: transparent; }
   }

  @include focus-ring($offset: 0, $outer: true);

  &:disabled {
    filter: opacity(0.5);
  }

  > slider {
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    background-color: mix(white, $base_color, 80%);
    box-shadow: 0 2px 4px transparentize(black, .8);

    &:disabled {
      box-shadow: 0 2px 4px transparent;
    }
  }

  &:hover > slider {
    background: white;
  }

  &:checked {
    color: $selected_fg_color;
    background-color: $selected_bg_color;

    &:hover {
      background-color: mix($selected_bg_color, $text_color, 90%);

      &:active { background-color: mix($selected_bg_color, black, 80%); }
    }

    > slider {
      background-color: $selected_fg_color;
    }
  }
}
