@import "palette";
@import 'apps/tweak-tool';
@import 'apps/nautilus';
@import 'apps/gnome-terminal';
@import 'apps/gnome-software';
@import 'apps/gedit';
@import 'apps/gnome-disks';
@import 'apps/nemo';
@import 'apps/gnome-todo';
@import 'apps/firefox';
@import 'apps/ubiquity';
@import 'apps/geary';
@import 'apps/usb-creator-gtk';
@import 'apps/evolution';
@import 'apps/unity7';
