window:not(.csd) {
  headerbar,
  .titlebar {
    @include headerbar_fill($headerbar_bg_color, $hc: $headerbar_border_color);
    color: $headerbar_fg_color;
    border-color: darken($headerbar_bg_color, 7%);

    .title,
    label.title {
      color: $headerbar_fg_color;
      &:backdrop { color: $backdrop_headerbar_fg_color; }
    }

    &:backdrop {
      border-color: $inkstone;
      background-color: $backdrop_headerbar_bg_color;
      box-shadow: inset 0 1px $headerbar_border_color;
    }
  }

  button.titlebutton:not(.appmenu) {
    &.maximize, &.minimize {

      &, &:backdrop {
        &:hover {
          @include draw_circle(if($ambiance==true, lighten($inkstone, 7%), $_base_hover_color));
        }
  
        &:active {
          @include draw_circle(if($ambiance==true, lighten($inkstone, 12%), $_base_active_color));
        }
      }
    }
  
    &.close {
      color: $selected_fg_color;
      @include draw_circle($selected_bg_color);
  
      &:hover {
        @include draw_circle($selected_bg_color);
        @include draw_circle(lighten($selected_bg_color, 5%));
      }
  
      &:active {
        @include draw_circle($selected_bg_color);
        @include draw_circle(darken($selected_bg_color, 5%));
      }
  
      &:backdrop {
        @include draw_circle(lighten($inkstone, if($variant=='light', if($ambiance==true, 15%, 40%), 10%)));
        &:hover { @include draw_circle(lighten($inkstone, if($variant=='light', if($ambiance==true, 20%, 45%), 15%))); }
      }
    }
  }
}