$_base_hover_color: transparentize($fg_color, 0.85);
$_base_active_color: transparentize($fg_color, 0.75);
$_titlebutton_height: 24px;

@mixin draw_circle($c, $size:$_titlebutton_height) {
  $button_size: $size + 2px * 2;
  $circle_size: 20px / $button_size / 2;

  background-image: -gtk-gradient(radial,
                                  center center, 0,
                                  center center, $circle_size,
                                  to($c),
                                  to(transparent));
}

// with a flatter headerbar and buttons, we dont need that heavy shadows, remove this when upstream agrees
headerbar *, button * {
  text-shadow: none;
  -gtk-icon-shadow: none;
}
// headerbar border-color is a bit too strong in the dark theme
headerbar {
  &, &.titlebar:not(headerbar) {
    border-color: lighten($alt_borders_color, if($variant=='light', 0%, 8%));
  }
}

// dont darken top border for stackswitcher and toggle buttons in the headerbar
stackswitcher button:checked,
button.toggle:checked {
  border-top-color: darken($borders_color, 3%);
  &:backdrop {
    @include button(backdrop-active);
  }
}

// blue spinner
spinner {
  &:not(:backdrop) {
    color: $progress_bg_color;
  }
}

// TODO: REMOVE the diff when we fixed this upstream (upstream has blue suggested border color)
switch {
  row:selected:not(:disabled) & {
    @if $variant == 'light' {
      box-shadow: none;
      border-color: $selected_borders_color;

      &:backdrop { border-color: $selected_borders_color; }

      slider { &:checked { border-color: $suggested_border_color; } }
    }
  }
}

// Testing unity8 styled sliders
switch, switch slider, scale slider { border-radius: $button_radius; -gtk-outline-radius: $button_radius; }

// titlebutton
button.titlebutton:not(.appmenu) {

  &,
  &:hover,
  &:active {

    headerbar &,
    .titlebar &,
    headerbar.selection-mode & {

      // spec bump otherwise :backdrop  will still have a bg
      &,
      &:backdrop {
        @extend %undecorated_button;
      }
    }
  }

  // Important - otherwise the circle size is wrong
  min-height: $_titlebutton_height;
  min-width: $_titlebutton_height;
  padding: 2px;

  headerbar &,
  .titlebar &,
  headerbar.selection-mode &,
  & {
    &.maximize, &.minimize, &.close {

      &, &:backdrop {
        &:hover {
          @include draw_circle(if($ambiance==true, lighten($inkstone, 7%), $_base_hover_color));
        }

        &:active {
          @include draw_circle(if($ambiance==true, lighten($inkstone, 12%), $_base_active_color));
        }
      }
    }

    &.close {
      color: white;
      @include draw_circle($warning_color);

      &:hover {
        @include draw_circle($warning_color);
        @include draw_circle(lighten($warning_color, 5%));
      }

      &:active {
        @include draw_circle($warning_color);
        @include draw_circle(darken($warning_color, 5%));
      }

      &:backdrop {
        @include draw_circle(lighten($inkstone, if($variant=='light', if($ambiance==true, 15%, 40%), 10%)));
        &:hover { @include draw_circle(lighten($inkstone, if($variant=='light', if($ambiance==true, 20%, 45%), 15%))); }
      }
    }
  }
}

// we prefered our gray hover for menus and popovers, orange is a very strong color
menu,
.menu,
.context-menu {
  menuitem {

    &:hover {
      color: $fg_color;
      background-color: $popover_hover_color;
    }
  }
}

// We don't want menuitems to look like links, we should propose this upstream
menubar,
.menubar {
  > menuitem {
    &:hover {
      color: $fg_color;
    }
  }
}

// We don't want the app notifications to look like OSD because they are interactive
.app-notification,
.app-notification.frame {
  padding: 10px;
  margin: 12px;
  color: $text_color;
  border-radius: $menu_radius;
  background: none;
  background-color: $menu_color;
  border: 1px solid $borders_color;
  box-shadow: 0 2px 5px transparentize(black, 0.8);
  text-shadow: none;

  button {
    &, &:dir(ltr), &:dir(rtl) {
      &.text-button, &.image-button, & {
        @include button(normal);
        &.flat { @include button(undecorated); }
        &:hover { @include button(hover); }
        &:active { @include button(active); }
        &:backdrop { 
          @include button(backdrop);
          &.flat { @include button(undecorated); }
        }
        &:disabled { @include button(insensitive); }
      }
    }
  }

  &:backdrop {
    background-color: $backdrop_bg_color;
    color: $backdrop_text_color;
    box-shadow: none;
    transition: $backdrop_transition;
  }

  border { border: none; }
}

// fix for gtk 3.28 switches to not show the on/off label
switch { font-size: 0 }
