calendar {
  color: $text_color;
  background-clip: padding-box;
  border: 1px solid $borders_color;

  > header {
    border-bottom: 1px solid $borders_color;

    > button {
      @extend %button_basic_flat;
      border-radius: 0;
    }
  }

  > grid {
    > label.today {
      box-shadow: inset 0px -2px $borders_color;

      &:selected {
        box-shadow: none;
      }
    }

    > label {
      @include focus-ring($focus-state: ':focus');

      &.day-number {
        padding: 4px;

        &:selected {
          border-radius: 3px;

          background-color: $accent_bg_color;
          color: $accent_fg_color;
        }
      }

      &.day-number.other-month {
        color: gtkalpha(currentColor, 0.3);
      }
    }
  }
}
