calendar {
  color: $text_color;
  border: 1px solid $borders_color;

  > header {
    border-bottom: 1px solid $borders_color;

    > button {
      border: none;
      background: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

  > grid {
    > label.today {
      box-shadow: inset 0px -2px $borders_color;

      &:selected {
        box-shadow: none;
      }
    }

    > label {
      @include focus-ring($focus-state: 'focus');

      &.day-number {
        padding: 4px;

        &:selected {
          border-radius: 3px;

          background-color: $selected_bg_color;
          color: $selected_fg_color;

          &:disabled { color: mix($selected_fg_color, $selected_bg_color, 50%); }
        }
      }

      &.day-number.other-month {
        color: gtkalpha(currentColor, 0.3);
      }
    }
  }
}
