placesview {
  .server-list-button > image {
    transition: 200ms $ease-out-quad;
    -gtk-icon-transform: rotate(0turn);
  }

  .server-list-button:checked > image {
    transition: 200ms $ease-out-quad;
    -gtk-icon-transform: rotate(-0.5turn);
  }

  row.activatable:hover {  }

  > actionbar > revealer > box  > box{
    border-spacing: 6px;
  }
}

filechooser {
  box-shadow: 0 1px $border_color;

  #pathbarbox { border-bottom: 1px solid $window_bg_color; }

  pathbar > button {
    &.text-button, &.image-button, & {
      padding-left: 5px;
      padding-right: 5px;
    }

    &.text-button.image-button label {
      padding-left: 0;
      padding-right: 0;
    }

    &.text-button.image-button, & {
      label:last-child { padding-right: 8px; }
      label:first-child { padding-left: 8px; }
    }

    image {
      padding-left: 4px;
      padding-right: 4px;
    }

    &.slider-button {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
