headerbar {
  min-height: 47px;
  background-color: $headerbar_bg_color;
  box-shadow: inset 0 -1px $headerbar_border_color,
              inset  1px 0 $headerbar_border_color,
              inset -1px 0 $headerbar_border_color;

  margin-left: -1px;
  margin-right: -1px;

  > windowhandle > box {
    padding: 0 7px 1px 7px;

    &,
    > box.start,
    > box.end {
      border-spacing: 6px;
    }
  }

  &:backdrop {
    background-color: $bg_color;

    transition: $backdrop_transition;

    > windowhandle {
      // opacity looks weird with GtkSwitch, but filter works fine
      filter: opacity(0.5);

      transition: $backdrop_transition;
    }
  }

  &.default-decoration {
    min-height: 37px;

    > windowhandle > box {
      padding: 0 4px 1px 4px;
    }

    windowcontrols {
      button,
      menubutton {
        min-height: 28px;
        min-width: 28px;
        margin: 0;
        padding: 0;
      }

      menubutton button {
        min-height: 22px;
        min-width: 22px;
        margin: 0;
        padding: 4px;
      }
    }
  }

  &.flat {
    background: none;
    box-shadow: none;

    min-height: 46px;

    > windowhandle > box {
      padding-bottom: 0;
    }

    &.default-decoration {
      min-height: 36px;
    }
  }

  .solid-csd & {
    &:backdrop, & {
      &:dir(rtl), &:dir(ltr) { // specificity bump
        margin-top: -1px;

        > windowhandle > box { padding-top: 1px; }
      }
    }
  }

  // add vertical margins to common widget on the headerbar to avoid them spanning the whole height
  entry,
  spinbutton,
  separator:not(.sidebar),
  button,
  menubutton {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  // Reset margins for buttons inside menubutton
  menubutton > button {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  switch {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.titlebar:not(headerbar) {
  separator { background-color: $borders_color; }  // FIXME: use darker border?
}

/*********************
 * GtkWindowControls *
 *********************/

windowcontrols {
  border-spacing: 6px;

  button {
    @extend %button_basic_flat;

    border-radius: 9999px;
    padding: 7px;
    margin: 0 2px;
    min-width: 0;
    min-height: 0;
  }
}

/******************
 * AdwWindowTitle *
 ******************/

headerbar,
windowtitle {
  .title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
  }

  .subtitle {
    font-size: smaller;
    padding-left: 12px;
    padding-right: 12px;
    @extend .dim-label;
  }
}

// Development versions of apps to use a differently styled headerbar

window.devel {
  headerbar > windowhandle {
    background: cross-fade(8% -gtk-icontheme("system-run-symbolic"), image(transparent)) 90% 0/256px 256px no-repeat;
  }
}
