headerbar {
  min-height: 46px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: $alt_borders_color;
  background-color: $headerbar_bg_color;

  > windowhandle > box {
    padding: 0 6px;

    &,
    > box.start,
    > box.end {
      border-spacing: 6px;
    }
  }

  &:backdrop {
    background-color: $headerbar_bg_color;

    transition: $backdrop_transition;

    > windowhandle {
      // opacity looks weird with GtkSwitch, but filter works fine
      filter: opacity(0.5);

      transition: $backdrop_transition;
    }
  }

  &.default-decoration {
    min-height: 36px;

    > windowhandle > box {
      padding: 0 4px;
    }

    windowcontrols {
      button,
      menubutton {
        min-height: 28px;
        min-width: 28px;
        margin: 0;
        padding: 0;
      }

      menubutton button {
        min-height: 22px;
        min-width: 22px;
        margin: 0;
        padding: 4px;
      }
    }
  }

  .solid-csd & {
    &:backdrop, & {
      &:dir(rtl), &:dir(ltr) { // specificity bump
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -1px;
      }
    }
  }

  // add vertical margins to common widget on the headerbar to avoid them spanning the whole height
  entry,
  spinbutton,
  separator:not(.sidebar),
  button,
  menubutton {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  // Reset margins for buttons inside menubutton
  menubutton > button {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  switch {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.titlebar:not(headerbar) {
  separator { background-color: $borders_color; }  // FIXME: use darker border?
}

/*********************
 * GtkWindowControls *
 *********************/

windowcontrols {
  border-spacing: 6px;

  button {
    @extend %button_basic_flat;

    border-radius: 9999px;
    padding: 7px;
    margin: 0 2px;
    min-width: 0;
    min-height: 0;
  }
}

/******************
 * AdwWindowTitle *
 ******************/

headerbar,
windowtitle {
  .title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
  }

  .subtitle {
    font-size: smaller;
    padding-left: 12px;
    padding-right: 12px;
    @extend .dim-label;
  }
}

// Development versions of apps to use a differently styled headerbar

window.devel {
  headerbar {
    $gradient: cross-fade(10% -gtk-icontheme("system-run-symbolic"), image(transparent)) 90% 0/256px 256px no-repeat,
               linear-gradient(to right, transparent 65%, gtkalpha($accent_color, 0.2));

    @if $variant == 'dark' {
      $gradient: cross-fade(10% -gtk-icontheme("system-run-symbolic"), image(transparent)) 90% 0/256px 256px no-repeat,
                 linear-gradient(to right, transparent 65%, gtkalpha($accent_color, 0.1));
    }

    background: $headerbar_bg_color $gradient;

    &:backdrop {
      $gradient: cross-fade(5% -gtk-icontheme("system-run-symbolic"), image(transparent)) 90% 0/256px 256px no-repeat,
                 linear-gradient(to right, transparent 65%, transparent);

      background: $headerbar_bg_color $gradient;
    }
  }
}
