%link,
link {
  color: $link_color;
  text-decoration: underline;

  &:visited {
    color: $link_visited_color;
  }

  &:hover {
    $_fg: lighten($link_color, 10%);
    color: $_fg;
  }

  &:active {
    color: $link_color;
  }

  &:disabled { color: transparentize(desaturate($link_color, 100%), 0.2); }
}

link {
  @include focus-ring();
}

button.link {
  @extend %link;

  &,
  &:hover,
  &:active,
  &:checked {
    @extend %undecorated_button;
  }

  > label {
    text-decoration: underline;
  }
}
