// .linked >        element            child
$_linked_widgets: ("%button",          ""),
                  ("button",           ""),
                  ("menubutton",       "> button"),
                  ("dropdown",         "> button"),
                  ("colorbutton",      "> button"),
                  ("fontbutton",       "> button"),
                  ("combobox",         "> box > button.combo"),
                  ("appchooserbutton", "> combobox > box > button.combo"),
                  ("%entry",           ""),
                  ("entry",            "");

.linked {
  border-spacing: 3px;
}

@each $widget, $child in $_linked_widgets {
  .linked:not(.vertical) > {
    #{$widget} {
      &:dir(ltr):not(:first-child) #{$child},
      &:dir(rtl):not(:last-child) #{$child} {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:dir(ltr):not(:last-child) #{$child},
      &:dir(rtl):not(:first-child) #{$child} {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

  .linked.vertical {
    #{$widget} {
      &:not(:first-child) #{$child} {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      &:not(:last-child) #{$child} {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
}
