popover {
  &.background {
    background-color: transparent;
    font: initial;
  }

  > arrow,
  > contents {
    background-color: $popover_bg_color;
    color: $popover_fg_color;
    background-clip: padding-box;
    border: 1px solid $window_border_color;
    box-shadow: 0 1px 3px 1px transparentize(black, .93),
                0 2px 6px 2px transparentize(black, .97);
  }

  > contents {
    padding: 8px;
    border-radius: $popover_radius;

    > list,
    > .view,
    > toolbar {
      border-style: none;
      background-color: transparent;
    }
  }

  .osd &,
  &.touch-selection,
  &.magnifier {
    background-color: transparent;

    > arrow,
    > contents {
      @extend %osd;

      border: 1px solid transparentize(white, 0.9);
      box-shadow: none;
    }
  }
}
