switch {
  // similar to GtkScale
  border-radius: 14px;
  padding: 2px;

  transition: $focus_transition;

  @if $contrast == "high" {
     background-color: $borders_color;
     color: white;

     &:hover {
      background-color: mix($borders_color, $text_color, 90%);

      &:active { background-color: mix($borders_color, black, 80%); }
    }
   }
   @else {
     background-color: $trough_color;
     color: $fg_color;

     &:hover {
      background-color: $trough_hover_color;

      &:active { background-color: $trough_active_color; }
    }

    > image { color: transparent; }
   }

  @include focus-ring($offset: 0, $outer: true);

  &:disabled {
    filter: opacity(0.5);
  }

  > slider {
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    background-color: $slider_color;
    box-shadow: 0 2px 4px transparentize(black, .8);

    &:disabled {
      box-shadow: 0 2px 4px transparent;
    }
  }

  &:hover > slider {
    background: $slider_hover_color;
  }

  &:checked {
    color: $fill_text_color;
    background-color: $fill_color;

    &:hover {
      background-color: $fill_hover_color;

      &:active { background-color: $fill_active_color; }
    }

    > slider {
      background-color: $slider_hover_color;
    }
  }
}
