.toolbar {
  padding: 6px;
  border-spacing: 6px;
  background-color: $bg_color;

  // on OSD
  .osd & { background-color: transparent; }

  // stand-alone OSD toolbars
  &.osd {
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: $osd_bg_color;

    &.left,
    &.right,
    &.top,
    &.bottom { border-radius: 0; } // positional classes for `attached` osd toolbars
  }

  // toolbar separators
  &.horizontal > separator { margin: 6px 0; }
  &.vertical > separator { margin: 0 6px; }

  button {
    @extend %button_basic_flat;
  }
}

/****************
 * GtkSearchBar *
 ****************/

searchbar > revealer > box {
  padding: 6px 6px 7px 6px;
  border-spacing: 6px;

  background-color: $dark_fill;
  box-shadow: inset 0 -1px $borders_color;

 .close {
    min-width: 18px;
    min-height: 18px;
    padding: 4px;
    border-radius: 50%;
    @extend %button_basic_flat;
  }
}

/****************
 * GtkActionBar *
 ****************/

actionbar > revealer > box {
  padding: 7px 6px 6px 6px;
  box-shadow: inset 0 1px $borders_color;

  &, > box.start, > box.end {
    border-spacing: 6px;
  }
}

/**************
 * GtkInfoBar *
 **************/

infobar {
  > revealer > box {
    padding: 8px 8px 9px 8px;
    border-spacing: 12px;
    box-shadow: inset 0 -1px $borders_color;
  }

  &.action:hover > revealer > box {
    background-image: image(gtkalpha(currentColor, .05));
  }

  &.action:hover:active > revealer > box {
    background-image: image(gtkalpha(currentColor, .1));
  }

  @each $i_type, $i_color in (info, $accent_bg_color),
                             (question, $accent_bg_color),
                             (warning, $warning_color),
                             (error, $error_color) {
    &.#{$i_type} > revealer > box {
      background-color: gtkmix($i_color, $base_color, if($variant == 'dark', 30%, 15%));
    }
  }

 .close {
    min-width: 18px;
    min-height: 18px;
    padding: 4px;
    border-radius: 50%;
    @extend %button_basic_flat;
  }
}
