// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

$accent_bg_color: gtkcolor(accent_bg_color);
$accent_fg_color: gtkcolor(accent_fg_color);
$accent_color: gtkcolor(accent_color);

$destructive_bg_color: gtkcolor(destructive_bg_color);
$destructive_fg_color: gtkcolor(destructive_fg_color);
$destructive_color: gtkcolor(destructive_color);

$success_color: gtkcolor(success_color);
$warning_color: gtkcolor(warning_color);
$error_color: gtkcolor(error_color);

$base_color: if($variant == 'light', white, #1e1e1e);
$text_color: if($variant == 'light', black, white);
$bg_color: if($variant == 'light', #fafafa, #242424);
$fg_color: if($variant == 'light', transparentize(black, .2), white);

$border_opacity: if($contrast == 'high', .5, .15);
$borders_color: gtkalpha(currentColor, $border_opacity);
$thin_borders_color: gtkalpha(currentColor, .05);
$link_color: $accent_color;
$link_visited_color: gtkmix($accent_color, $text_color, 80%);
$dark_fill: if($variant == 'light', #ebebeb, #303030);
$headerbar_bg_color: $dark_fill;
$headerbar_fg_color: $fg_color;
$headerbar_border_color: gtkalpha($fg_color, $border_opacity);
$headerbar_backdrop_color: $bg_color;
$card_bg_color: if($variant == 'light', #ffffff, transparentize(white, .945));
$card_fg_color: $fg_color;
$card_border_color: if($variant == 'light', gtkalpha(currentColor, .18), gtkalpha(currentColor, .18));
$scrollbar_outline_color: if($variant == 'light', white, transparentize(black, .5));

$popover_bg_color: if($variant == 'light', #ffffff, #383838);
$popover_fg_color: $fg_color;

$view_hover_color: gtkalpha(currentColor, .07);
$view_active_color: gtkalpha(currentColor, .16);
$view_selected_color: gtkalpha(currentColor, .1);
$view_selected_hover_color: gtkalpha(currentColor, .13);
$view_selected_active_color: gtkalpha(currentColor, .19);

$trough_color: gtkalpha(currentColor, .15);
$trough_hover_color: gtkalpha(currentColor, .2);
$trough_active_color: gtkalpha(currentColor, .25);

$fill_color: $accent_bg_color;
$fill_text_color: $accent_fg_color;
$fill_hover_color: gtkmix($accent_bg_color, currentColor, 90%);
$fill_active_color: gtkmix($accent_bg_color, black, 80%);

$slider_color: mix(white, $base_color, 80%);
$slider_hover_color: white;

$osd_fg_color: transparentize(white, .1);
$osd_text_color: white;
$osd_bg_color: transparentize(black, 0.3);

$tooltip_borders_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: if($variant == 'light', $green_4, $green_5);

//special cased widget colors
$focus_border_color:  gtkalpha($accent_bg_color, 0.5);
$alt_focus_border_color: if($variant == 'light', transparentize(white, 0.2), transparentize(white,0.7));
$dim_label_opacity: 0.55;

// High Contrast color overrides
@if $contrast == 'high' {
  $thin_borders_color: gtkalpha(currentColor, .25);
  $card_border_color: $borders_color;

  //focus rings
  $focus_border_color: gtkalpha($accent_bg_color, 0.8);
  $alt_focus_border_color: if($variant == 'light', white, transparentize(white,0.4));

  $dim_label_opacity: 0.9;

  $trough_color: gtkalpha(currentColor, .3);
  $trough_hover_color: gtkalpha(currentColor, .4);
  $trough_active_color: gtkalpha(currentColor, .5);
}
