/* Check Boxes */

// these are equal to the size of the SVG assets
$check_height: 22px;
$check_width: 24px;


.check-box {
  StBoxLayout { spacing: .8em; }
  StBin {
    width: $check_width;
    height: $check_height;
    background-image: if($variant == 'light', url("resource:///org/gnome/shell/theme/checkbox-off.svg"), url("resource:///org/gnome/shell/theme/checkbox-off-dark.svg"));
  }
  &:focus StBin { background-image: if($variant == 'light', url("resource:///org/gnome/shell/theme/checkbox-off-focused.svg"), url("resource:///org/gnome/shell/theme/checkbox-off-focused-dark.svg")); }
  &:checked StBin { background-image: if($variant == 'light', url("resource:///org/gnome/shell/theme/checkbox.svg"), url("resource:///org/gnome/shell/theme/checkbox-dark.svg")); }
  &:focus:checked StBin { background-image: if($variant == 'light', url("resource:///org/gnome/shell/theme/checkbox-focused.svg"), url("resource:///org/gnome/shell/theme/checkbox-focused-dark.svg")); }
}
