/* Dash */

//$dash_background_color: lighten($system_bg_color, 5%); // Yaru: we define those colors in _colors.scss for _dock.scss to use it
$dash_placeholder_size: 32px;
$dash_padding: $base_padding + 4px; // 10px
$dash_spacing: $base_padding / 4;
$dash_bottom_margin: $base_margin * 4;
$dash_border_radius: $modal_radius + 8px;

#dash {
  @include fontsize($base_font_size - 2);
  margin-top: $base_margin * 3;
  padding: $dash_padding;

  .placeholder {
    // background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-image:none;
    background-size: contain;
    height: $dash_placeholder_size;
  }

  .empty-dash-drop-target {
    width: $dash_placeholder_size;
    height: $dash_placeholder_size;
  }

  // icon on the dash
  .overview-icon {
    padding: $base_padding+2px;
  }

  // Running app indicator (also shown in app grid)
  .app-well-app-running-dot {
    height: 5px;
    width: 5px;
    border-radius:5px;
    background-color: $osd_fg_color;
    margin-bottom: 12px;
  }
}

.dash-background {
  background-color: $dash_background_color;
  border-radius: $dash_border_radius;
  margin-bottom: 0; // this keeps things vertically centered
  padding: $dash_padding;
  border: 1px solid $borders_color_dark; // Yaru: add border
}

// items on the dash
.dash-item-container {

  // each app item on the dash
  .app-well-app {
    padding:0;
    margin: 2px;
  }

  // show apps button
  .show-apps {
    @include overview_icon($osd_fg_color);
    margin: 2px;
    padding: 0;
  }
}

// separator between favourites and running apps
.dash-separator {
  width: 1px;
  margin: 0 $base_margin*2;
  background-color: transparentize($borders_color,0.5);
}

// OSD Tooltip
.dash-label {
  color: $osd_fg_color;
  background-color: $osd_bg_color;
  border-radius: 99px;
  padding: $base_padding $base_padding * 2;
  text-align: center;
  -y-offset: $base_margin * 2; // distance from the dash edge
}
