/* On-screen Keyboard */

$key_size: 1.2em;
$key_border_radius: $base_border_radius + 4px; // 12px
$key_bg_color: if(variant=='light', $bg_color, darken($bg_color, 1%)); // Yaru: Make keyboard buttons work on both variants
$default_key_bg_color: $key_bg_color; // Yaru: Make keyboard buttons work on both variants
// $default_key_bg_color: if($variant=='light', darken($osd_bg_color, 11%), lighten($osd_bg_color, 2%));


// draw keys using button function
#keyboard { // Yaru: Make keyboard work on both variants
  // background-color: transparentize(if($variant=='light', darken($bg_color, 5%), darken($bg_color, 8%)), 0.1);
  background-color: $osd_bg_color;
  // box-shadow: inset 0 1px 0 0 $osd_outer_borders_color;

  .page-indicator {
    padding: $base_padding;

    .page-indicator-icon {
      width: 8px;
      height: 8px;
    }
  }
}

// the container for individual keys
.key-container {
  padding: $base_margin;
  spacing: $base_margin;
}

// the keys
.keyboard-key {

  @include button(normal, $c:$key_bg_color, $tc:$osd_fg_color);

  &:focus { @include button(focus);}
  &:hover, &:checked { @include button(hover, $c: $key_bg_color, $tc:$osd_fg_color);}
  &:active { @include button(active, $c: $key_bg_color, $tc:$osd_fg_color); }

  @include fontsize($base_font_size + 5);
  font-weight: bold;
  min-height: $key_size;
  min-width: $key_size;
  border-width: 1px;
  border-style: solid;
  border-radius: $key_border_radius;

  &:grayed { //FIXMEy
    background-color: darken($bg_color, 3%);
    color: $osd_fg_color;
    border-color: $osd_borders_color;
  }

  // non-character keys
  &.default-key {
    @include button(normal, $c:$default_key_bg_color, $tc:$osd_fg_color);
    &:hover, &:checked {@include button(hover, $c: $default_key_bg_color, $tc:$osd_fg_color);}
    &:active { @include button(active, $c: $default_key_bg_color, $tc:$osd_fg_color);}
    border-radius: $key_border_radius;
  }

  // enter key is suggested-action
  &.enter-key { // Yaru: our suggested action color is green
    @include button(normal, $c:$suggested_bg_color, $tc:$selected_fg_color);
    &:hover, &:checked { @include button(hover, $c: lighten($suggested_bg_color, 3%), $tc:$selected_fg_color);}
    &:active {@include button(active, $c: darken($suggested_bg_color, 2%), $tc:$selected_fg_color);}
    border-radius: $key_border_radius;
    color: $osd_fg_color;
  }

  &.shift-key-lowercase {}
  
  // pressed shift has different style
  &.shift-key-uppercase { 
    background-color: lighten($key_bg_color, 20%);
    color: $osd_bg_color;
    &:hover {
      background-color: lighten($key_bg_color, 25%);
      color: lighten($osd_bg_color, 5%);
    }
  }

  // size of icons on keys
  StIcon { icon-size: 24px; }
}

// long press on a key popup
.keyboard-subkeys { // Yaru: Make keyboard popups work on both variants
  -arrow-border-radius: $base_border_radius*2;
  -arrow-background-color: transparentize(if($variant=='light', darken($bg_color, 5%), darken($bg_color, 8%)), 0.1);
  -arrow-border-width: 1px;
  -arrow-border-color: $borders_color;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: $base_spacing;
  padding: $base_padding;

  .keyboard-key {
    @include button(normal, $c:$key_bg_color, $tc:$osd_fg_color);

    &:focus { @include button(focus);}
    &:hover, &:checked { @include button(hover, $c: $key_bg_color, $tc:$osd_fg_color);}
    &:active { @include button(active, $c: $key_bg_color, $tc:$osd_fg_color); }

    border-radius:$key_border_radius;
  }
}

// emoji
.emoji-page {
  .keyboard-key {
    background-color: transparent;
    border: none;
    color: initial;
  }
}

.emoji-panel {
  .keyboard-key:latched {
    border-color: lighten($selected_bg_color, 5%);
    background-color: $selected_bg_color;
  }
}

// suggestions
.word-suggestions {
  @include fontsize($base_font_size + 3);
  spacing: 12px;
  min-height: 20pt;
  padding: $base_padding*2;
  color: $osd_fg_color;

  // each suggestion
  StButton {
    margin: 0 3px;
    min-width: 32px;
    border-radius: $base_border_radius - 2px;
    padding: $base_padding $base_padding*3;

    @include button(undecorated, $c:$key_bg_color, $tc:$osd_fg_color);

    &:focus { @include button(focus);}
    &:hover, &:checked { @include button(hover, $c: $key_bg_color, $tc:$osd_fg_color);}
    &:active { @include button(active, $c: $key_bg_color, $tc:$osd_fg_color); }
  }
}
