/* Notifications & Message Tray */

$notification_banner_height: 64px;
$notification_banner_width: 34em;

// Banner notifications
.notification-banner {
  min-height: $notification_banner_height;
  width: $notification_banner_width;
  box-shadow: 0 2px 4px 2px $shadow_color;
  border-radius: $modal_radius;
  margin: $base_margin;
  background-color: $bg_color; // Yaru change: use bg_color for better contrast with buttons

  @if $contrast == 'high' {
    @include draw_hc_inset();
  }

  &:hover {
    // Yaru change: ↑↑↑
    background-color: if($variant =='light', darken($bg_color, 2%), lighten($bg_color, 2%));
  }

  &:active {
    // Yaru change: ↑↑↑
    background-color: if($variant =='light', darken($bg_color, 4%), lighten($bg_color, 4%));
  }

  // Yaru: make notifications more visible on different headerbars:
  &,
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid $borders_color;
  }
}

.notification-buttons-bin {
  spacing: 0;
}

.notification-button {
  @extend %bubble_button;
}
