/* Search */

// search overview container
#searchResultsContent {
  max-width: 1024px;
  spacing: $base_margin * 2;
}

// search results sections "the boxes"
.search-section {
  // This should be equal to #searchResultsContent spacing
  spacing: $base_margin * 2;

  // separator (unstyled)
  .search-section-separator { 
    height: $base_margin*2; // use it as a spacer
    background-color: transparent;
  }
}

// content
.search-section-content {
  background-color: $dash_background_color; // Yaru: use same background as dash
  border-radius: $modal_radius*1.5;
  border: 1px solid $borders_color_dark; // Yaru: use same border-color as dash
  box-shadow: none;
  text-shadow: none;
  color: $osd_fg_color;
  padding: $base_padding * 3;
  margin: $base_margin;
  // This is the space between the provider icon and the results container
}

%search_section_content_item {
  @extend %icon_tile;

  border-radius: $base_border_radius;

  color: $osd_fg_color;

  &:focus,
  &:hover,
  &:selected {
    background-color: transparentize($osd_fg_color, .9);
    transition-duration: 200ms;
  }

  &:active,
  &:checked {
    background-color: transparentize(darken($osd_bg_color, 10%), .1);
  }
}

// "no results" text
.search-statustext {
  @extend %status_text;
}

.grid-search-results {
  spacing: $base_spacing * 6;
}

// Search results with icons
.grid-search-result {
  @extend %app_well_app;
}

// search result provider
.search-provider-icon {
  @extend %search_section_content_item;

  // content
  .list-search-provider-content {
    spacing: $base_spacing * 2;

    // provider labels
    .list-search-provider-details {
      width: 120px;
      color: $osd_fg_color;
    }
  }
}

// search results list
.list-search-results {
  spacing: $base_spacing;
}

// search result listitem
.list-search-result {
  @extend %search_section_content_item;

  // content
  .list-search-result-content {
    spacing: $base_padding;
  }

  // list item title (with leading icon)
  .list-search-result-title {
    spacing: $base_spacing * 2;
    // font-weight: bold;
  }

  // list item description
  .list-search-result-description {
    color: $osd_insensitive_fg_color;
  }
}
