/* Switches */

// these are equal to the size of the SVG assets
$switch_height: 22px;
$switch_width: 46px;

.toggle-switch {
  color: $fg_color;
  height: $switch_height;
  width: $switch_width;
  background-size: contain;
  background-image: if($variant == 'light', url("toggle-off.svg"),url("toggle-off-dark.svg"));
  &:checked { 
    background-image: if($variant == 'light', url("toggle-on.svg"),url("toggle-on-dark.svg"));
  }
}