
/* Tiled window previews */
$tile_corner_radius: 0; // Yaru: we can't round the desktop borders because of the dock
.tile-preview {
  background-color: transparentize($selected_bg_color,0.5); // Yaru: orange is too strong for this, thus use grays
  border: 1px solid $selected_bg_color; // Yaru: orange is too strong for this, thus use grays
}

.tile-preview-left.on-primary {
  border-radius: $tile_corner_radius 0 0 0;
}

.tile-preview-right.on-primary {
  border-radius: 0 $tile_corner_radius 0 0;
}

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: $tile_corner_radius $tile_corner_radius 0 0;
}