
/* Tiled window previews */
$tile_corner_radius: 0;
.tile-preview {
  background-color: transparentize($ash, 0.8);
  border: 1px solid transparentize($silk, 0.2);
}

.tile-preview-left.on-primary {
  border-radius: $tile_corner_radius 0 0 0;
}

.tile-preview-right.on-primary {
  border-radius: 0 $tile_corner_radius 0 0;
}

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: $tile_corner_radius $tile_corner_radius 0 0;
}