/* Workspace Switcher */

$ws_padding: $base_padding*2;
$ws_border_radius: $modal_radius + 8px;

.workspace-switcher-group {
  padding: $base_padding * 2;
}

.workspace-switcher-container {
  @extend %osd_panel;
  padding: $ws_padding;
  border-radius: $ws_border_radius;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1);
}

.workspace-switcher {
  background: transparent;
  border: none;
  border-radius: 0;
  spacing: $base_spacing * 2;
}

.ws-switcher-box {
  background: transparent;
  height: 50px;
  background-size: 32px;
  border: 1px solid transparentize($osd_fg_color,0.9);
  border-radius: $base_border_radius + 3px;
}

// active workspace in the switcher
.ws-switcher-active-up,
.ws-switcher-active-down,
.ws-switcher-active-left,
.ws-switcher-active-right {
  height: 52px;
  background-color: $selected_bg_color;
  border: 1px solid if($variant=='light', darken($selected_bg_color, 8%), lighten($selected_bg_color, 5%));
  border-radius: $base_border_radius + 3px;
  color: $selected_fg_color;
}
