/* Workspace pager */

// thumbnails in overview
.workspace-thumbnails {
  visible-width: 32px; //amount visible before hover
  spacing: $base_padding;
  padding: $base_padding;
  border-color: transparent; // Yaru: adapt the workspace osd border to the dock border

  .workspace-thumbnail {
    color: $system_fg_color;
    background-color: $dash_background_color; // Yaru: use same background as dash
    border-radius: $base_border_radius*0.5;
    border: 1px solid $system_borders_color; // Yaru: use same border as dash

    @if $is_highcontrast {
      border-color: $hc_inset_color;
    }
  }

  // drag and drop indicator
  .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/workspace-placeholder.svg");
    background-size: contain;
    width: 18px;
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  border: 2px solid $focus_border_color; // Yaru: we detached focus from selected
  border-radius: $base_border_radius;
}
