// Smaller windowcontrols and orange close button
windowcontrols {
    margin-left: 7px; // Fix windowcontrols misalignement caused by smaller windowcontrols

    button {
        padding: 2px;
        margin: 0 7px;
        &.close {
            background: $orange_5;

            &:hover {
                background: lighten($orange_5, 5%);
            }

            &:active {
                background: darken($orange_5, 5%);
            }

            &:backdrop {
                background: desaturate($orange_5, 100%);
            }

            image {
                color: $light_2;
            }
        }
    }
}
