/***********
 * Tweak Tool *
 ***********/
list.tweak-categories separator {
  // hide sidebar separators
  // make the sidebar look like a normal sidebar
  background: transparent;
}

/***********
 * Nautilus *
 ***********/
.nautilus-window {
  // keep details box visible
  // details box looks ugly when many items are selected and it floats above the orange
  paned box.floating-bar {
    background: $bg_color;
    border: 1px solid $borders_color;
  }

  header.top {
  // nautilus tabs has too thick borders
  // makes nautilus tabs look much nicer
    border: none
  }

  .searchbar-container searchbar {
    // get rid of a 1px white line shown at the top of the window
    // applies to the desktop too
    background: transparent;
    border-color: transparent;
  }
}

.nautilus-desktop-window {
  .nautilus-desktop.view {
    // use white text for desktop icons
    // otherwise it uses the variant dependent grey or white text color
    color: $selected_fg_color;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  }

  scrolledwindow widget.view:selected {
    background-color: rgba(255, 255, 255, 0.1); // folder icon is tinted based on this
                                                // near transparent white results in no tint
                                                // completely transparent tints the icon black
    background-image: image($selected_bg_color); // label background becomes this
  }
}

/***********
 * Terminal *
 ***********/
terminal-window {
  // use unity 8 colors
  // only colors, let everything else be inherited
  .terminal-screen {
    // inherits from .background
    background-color: $terminal_bg_color;
    color: $terminal_text_color;

    &:backdrop {
      color: _backdrop_color($terminal_text_color);
      background-color: _backdrop_color($terminal_bg_color);
    }
  }

  notebook {
    // inherits from notebook header
    > header {
      border-color: $terminal_borders_color;
      background-color: $terminal_base_color;

      button {
        color: $terminal_fg_color;
          @each $state, $t in   (':hover', 'hover'), (':active, &:checked', 'active'), (':backdrop', 'backdrop'),
                                (':backdrop:disabled', 'backdrop-insensitive'), (':disabled', 'insensitive') {
          &#{$state} { @include button($t, $terminal_bg_color, white); } }
      }

      &:backdrop {
        border-color: _backdrop_color($terminal_borders_color);
        background-color: _backdrop_color($terminal_base_color);
      }

      tab {
        color: $terminal_text_color;

        &:hover {
          background-color: mix($insensitive_bg_color, $terminal_base_color, 15%);
          border-color: mix($terminal_borders_color, $terminal_base_color, 30%);
        }

        &:backdrop {
          color: _backdrop_color($terminal_text_color);
        }

        &:checked {
          color: $terminal_fg_color;
          background-color: $terminal_bg_color;
          border-color: $terminal_borders_color;
        }

        &:backdrop:checked {
          background-color: _backdrop_color($terminal_bg_color);
          border-color: _backdrop_color($terminal_borders_color);
          border-bottom-color: transparent;
          color: _backdrop_color($terminal_fg_color);
        }
      }
    }

    scrollbar {
      // inherits from scrollbar
      $_scrollbar_bg: darken($terminal_bg_color, 5%);
      $_scrollbar_bc: darken($terminal_borders_color, 5%);
      background-color: $_scrollbar_bg;
      border-color: $_scrollbar_bc;

      &:backdrop {
        background-color: _backdrop_color($_scrollbar_bg);
        border-color: _backdrop_color($_scrollbar_bc);
      }

      slider {
        $c: $terminal_text_color;
        background-color: transparentize($c, 0.6);

        &:hover {
          background-color: transparentize($c, 0.4);
        }

        &:hover:active {
          background-color: transparentize($c, 0.2);
        }

        &:backdrop {
          background-color: transparentize($c, 0.8);
        }

        &:disabled {
          background-color: transparent;
        }
      }

      &.dragging,
      &.hovering {
        background-color: darken($_scrollbar_bg, 10%);
      }
    }
  }
}

/***********
 * GNOME Software *
 ***********/
buttonbox.horizontal.linked button.toggle.toolbar-primary-buttons-software {
  // GNOME Software uses a stackswitcher-type button that isn't labeled as such
  @extend %stackswitcher_basic;
  &:checked { color: $headerbar_fg_color; }
  min-width: 80px;
  margin-left: 4px;
  margin-right: 4px;
}

/***********
 * Gedit *
 ***********/

.gedit-bottom-panel-paned ~ statusbar {
  // give gedit's bottom panel a border
  border-top: 1px solid $borders_color;
}
