/***********
 * Tweak Tool *
 ***********/
list.tweak-categories separator {
  // hide sidebar separators
  // make the sidebar look like a normal sidebar
  background: transparent;
}

/***********
 * Nautilus *
 ***********/
.nautilus-window {
  // keep details box visible
  // details box looks ugly when many items are selected and it floats above the orange
  paned box.floating-bar {
    background: $bg_color;
    border: 1px solid $borders_color;
  }

  .searchbar-container searchbar {
    // get rid of a 1px white line shown at the top of the window
    // applies to the desktop too
    background: transparent;
    border-color: transparent;
  }

  scrolledwindow widget.view:selected {
    // reduces orangeness of selected folder icons
    background-color: rgba(255, 255, 255, 0.1); // folder icon is tinted based on this
                                                // near transparent white results in no tint
                                                // completely transparent tints the icon black
    background-image: image($selected_bg_color); // label background becomes this
  }

  .nautilus-list-view .view {
    border-bottom: 1px solid transparentize(black, 0.9);

    // Hide superfluous treeview drop target indication
    &.dnd { border-style: none; }
  }

  notebook > stack grid:not(.nautilus-list-view) {
    padding-top: 15px;
  }


  menu menuitem:first-child:hover {
    // context menu in nautilus has its last-child labeled as its first child lol
    // using :hover for specificity bump
    border-radius: 0 0 $small_radius $small_radius;
  }
}

.nautilus-desktop-window {
  .nautilus-desktop.view {
    // use white text for desktop icons
    // otherwise it uses the variant dependent grey or white text color
    color: $selected_fg_color;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  }
}

/***********
 * Terminal *
 ***********/
terminal-window {
  // use unity 8 colors
  // only colors, let everything else be inherited
  .terminal-screen {
    // inherits from .background
    background-color: $terminal_bg_color;
    color: $terminal_fg_color;

    &:backdrop {
      background-color: _backdrop_color($terminal_bg_color);
      color: $backdrop_selected_fg_color;
    }
  }

  notebook {
    // inherits from notebook header
    > header {
      border-color: $terminal_borders_color;
      background-color: $terminal_base_color;

      button.flat {
        color: $terminal_fg_color;
          @each $state, $t in   (':hover', 'hover'), (':active, &:checked', 'active'), (':backdrop', 'backdrop'),
                                (':backdrop:disabled', 'backdrop-insensitive'), (':disabled', 'insensitive') {
          &#{$state} { @include button($t, lighten($terminal_base_color, 3%), white, $flat:false); } }

          &, &:backdrop { &, &:disabled { background-color: transparent; border-color: transparent; } }
      }

      &:backdrop {
        border-color: _backdrop_color($terminal_borders_color);
        background-color: _backdrop_color($terminal_base_color);
      }

      tab {
        color: $terminal_fg_color;

        &:hover:not(:active):not(:backdrop):not(:checked) {
          background-color: lighten($terminal_base_color, 3%);
          border-color: $terminal_borders_color;
        }

        &:hover:not(:active):not(:backdrop) {
          background-color: $terminal_base_color;
          border-color: $terminal_borders_color;
        }

        &:hover:checked:not(:backdrop) {
          background-color: $terminal_bg_color;
          border-color: $terminal_borders_color;
          border-bottom-color: transparent;
        }

        &:backdrop {
          &, label { color: $backdrop_selected_fg_color; }
        }

        &:checked {
          color: $terminal_fg_color;
          background-color: $terminal_bg_color;
          border-color: $terminal_borders_color;

          &:backdrop {
            background-color: _backdrop_color($terminal_bg_color);
            border-color: _backdrop_color($terminal_borders_color);
            border-bottom-color: transparent;
            color: _backdrop_color($terminal_fg_color);
          }
        }
      }
    }

    scrollbar {
      // inherits from scrollbar
      $_scrollbar_bg: darken($terminal_bg_color, 5%);
      $_scrollbar_bc: darken($terminal_borders_color, 5%);
      background-color: $_scrollbar_bg;
      border-color: $_scrollbar_bc;

      &:backdrop {
        background-color: _backdrop_color($_scrollbar_bg);
        border-color: _backdrop_color($_scrollbar_bc);
      }

      slider {
        // avoids scrollbar protruding from the terminal window on wayland session
        // workaround for https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1720651
        margin: 0;
        border-width: 3px;

        $c: $terminal_fg_color;
        background-color: transparentize($c, 0.6);

        &:hover {
          background-color: transparentize($c, 0.4);
        }

        &:hover:active {
          background-color: transparentize($c, 0.2);
        }

        &:backdrop {
          background-color: transparentize($c, 0.8);
        }

        &:disabled {
          background-color: transparent;
        }
      }

      &.dragging,
      &.hovering {
        background-color: darken($_scrollbar_bg, 10%);
      }
    }
  }
}

/***********
 * GNOME Software *
 ***********/
.review-row {
  margin-bottom: 10px;
  padding: 6px 12px;
  box-shadow: 0 1px 2.5px transparentize(black, 0.75);
  // border-radius: $medium_radius;
  outline-offset: -1px;
  // -gtk-outline-radius: $medium_radius;

  &,
  &:not(:selected):not(:backdrop):hover,
  &:not(:selected):not(:backdrop):active { background-color: $base_color; }

  &:backdrop { background-color: $backdrop_base_color; }

  &:last-child { margin-bottom: 0; }

  > grid { margin-top: -24px; }
}

/***********
 * Gedit *
 ***********/

.gedit-bottom-panel-paned ~ statusbar {
  // give gedit's bottom panel a border
  border-top: 1px solid $borders_color;

    &:backdrop { border-color: $backdrop_borders_color; }
}

.gedit-search-slider {
  // gives gedit search entry some padding and a border
  // otherwise it's right under the headerbar
  background: $bg_color;
  border: 1px solid $borders_color;
  border-top-style: none;
  padding: 4px 8px;
  border-radius: 0 0 5px 5px; // same radius as tooltips

  &:backdrop {
    background-color: $backdrop_bg_color;
    border-color: $backdrop_borders_color;
  }
}

/***********
 * GNOME Disks *
 ***********/

headerbar button image ~ window decoration ~ menu separator {
  // gnome disks headerbar menu seems to inherit the headerbar separator bg color
  // no unique class names or id used here so this rule is as specific as it can be
  background: $borders_color;
}
