/***********
 * Tweak Tool *
 ***********/
list.tweak-categories separator {
  // hide sidebar separators
  // make the sidebar look like a normal sidebar
  background: transparent;
}

/***********
 * Nautilus *
 ***********/
.nautilus-window {
  // keep details box visible
  // details box looks ugly when many items are selected and it floats above the orange
  background-image: none;
  background-color: if($variant==light,white,$base_color);
  &:backdrop { background-color: $backdrop_base_color }

  // Makes icons less bright in backdrop
  *scrolledwindow:backdrop { opacity: 0.9; }

  paned box.floating-bar {
    background: $bg_color;
    border-radius: $small_radius;
    border: 1px solid $borders_color;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .searchbar-container searchbar {
    // get rid of a 1px white line shown at the top of the window
    // applies to the desktop too
    background: transparent;
    border-color: transparent;
  }

  treeview.view header button {
    background-color: if($variant==light,white,$base_color);
    background-image: none;
    border-color: transparentize($borders_color, 0.6);
    border-left: 1px;

    &:hover {background-color: $bg_color;}
    &:backdrop { background-color: if($variant==light,#EEEFF0,$backdrop_base_color);} // It should be _backdrop_color(white); but that does not work.
  }

  scrolledwindow widget.view:selected {
    // reduces orangeness of selected folder icons
    background-color: rgba(255, 255, 255, 0.1); // folder icon is tinted based on this
                                                // near transparent white results in no tint
                                                // completely transparent tints the icon black
    background-image: image($selected_bg_color); // label background becomes this
    border-radius: $small_radius;
  }

  .nautilus-list-view .view {
    border-bottom: 1px solid transparentize($borders_color, 0.8);

    // Hide superfluous treeview drop target indication
    &.dnd { border-style: none; }
  }

  notebook > header > tabs {
    background: if($variant==light,$porcelain,$base_color);
    &:backdrop { background-color: $backdrop_bg_color; }

    & > tab {
      border-bottom: 1px solid transparentize($borders_color, 0.5);
      margin: 0px;

      &:checked {
        border-color: transparentize($borders_color, 0.5);
        border-bottom: none;

        &:backdrop { background-color: if($variant==light,#EEEFF0,$backdrop_base_color); }  // It should be _backdrop_color(white); but that does not work.
      }

      &:not(:checked) {
        & label { color: transparentize($text_color, 0.5); }
      }
    }
  }

  paned > separator {
    // separator between sidebar and main window view
    &, &:backdrop {
      background-image: image(rgba(0, 0, 0, 0.06));
    }
  }
}


.nautilus-desktop-window {
  .nautilus-desktop.view {
    color: $selected_fg_color;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  }
}


/***********
 * Terminal *
 ***********/
terminal-window {
  // use unity 8 colors
  // only colors, let everything else be inherited
  .terminal-screen {
    // inherits from .background
    background-color: $terminal_bg_color;
    color: $terminal_fg_color;

    &:backdrop {
      background-color: _backdrop_color($terminal_bg_color);
      color: $backdrop_selected_fg_color;
    }
  }

  notebook > header.top > tabs > tab {
    &:checked {
      color: $terminal_fg_color;
      border-color: $inkstone;
      border-bottom: 2px solid darken($orange, 10%);
    }
  }

  notebook {
    // inherits from notebook header
    > header {
      border-color: $inkstone;
      background-color: $headerbar_bg_color;

      button.flat {
        color: $terminal_fg_color;
        @each $state, $t in (':hover', 'hover'),
                            (':active, &:checked', 'active'),
                            (':backdrop', 'backdrop'),
                            (':backdrop:disabled', 'backdrop-insensitive'),
                            (':disabled', 'insensitive') {
            &#{$state} {
              @include button($t, $headerbar_bg_color, $headerbar_bg_color, $flat:true);
              color: white;
            }
        }

        &:backdrop { color: $backdrop_headerbar_fg_color; }
        &, &:backdrop {
          &, &:disabled {
            background-color: transparent;
            border-color: transparent;
          }
        }
      }

      &:backdrop {
        border-color: _backdrop_color($terminal_borders_color);
        background-color: _backdrop_color($backdrop_headerbar_bg_color);
      }

      tab {
        $_border_color: transparentize(_border_color($menubar_bg_color), 0.8);

        color: $ash;

        &:hover:not(:active):not(:backdrop):not(:checked) {
          background-color: $headerbar_bg_color;
          background-color: lighten($headerbar_bg_color, 4%);
          border-color: $_border_color;
          border-color: $inkstone;
        }

        &:hover:not(:active):not(:backdrop) {
          background-color: $headerbar_bg_color;
          border-color: $_border_color;
        }

        &:hover:checked:not(:backdrop) {
          background-color: lighten($headerbar_bg_color, 6%);
          border-color: $inkstone;
          border-bottom: 2px solid $orange;
        }

        &:backdrop {
          &, label { color: $ash; }
        }

        &:checked {
          color: $terminal_fg_color;
          background-color: lighten($headerbar_bg_color, 4%);
          border-color: $_border_color;

          &:backdrop {
            background-color: $backdrop_headerbar_bg_color;
            border-color: _backdrop_color($_border_color);
            border-bottom-color: transparent;
            color: _backdrop_color($terminal_fg_color);
          }
        }
      }
    }

    scrollbar {
      // inherits from scrollbar
      $_scrollbar_bg: darken($headerbar_bg_color, 5%);
      $_scrollbar_bc: darken($terminal_borders_color, 5%);
      background-color: $_scrollbar_bg;
      border-color: $_scrollbar_bc;

      &:backdrop {
        background-color: _backdrop_color($_scrollbar_bg);
        border-color: _backdrop_color($_scrollbar_bc);
      }

      slider {
        // avoids scrollbar protruding from the terminal window on wayland session
        // workaround for https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1720651
        margin: 0;
        border-width: 3px;

        $c: $terminal_fg_color;
        background-color: transparentize($c, 0.6);

        &:hover {
          background-color: transparentize($c, 0.4);
        }

        &:hover:active {
          background-color: transparentize($c, 0.2);
        }

        &:backdrop {
          background-color: transparentize($c, 0.8);
        }

        &:disabled {
          background-color: transparent;
        }
      }

      &.dragging,
      &.hovering {
        background-color: darken($_scrollbar_bg, 10%);
      }
    }
  }
}

/***********
 * GNOME Software *
 ***********/
.review-row {
  margin-bottom: 10px;
  padding: 6px 12px;
  box-shadow: 0 1px 2.5px transparentize(black, 0.75);
  // border-radius: $medium_radius;
  outline-offset: -1px;
  // -gtk-outline-radius: $medium_radius;

  &,
  &:not(:selected):not(:backdrop):hover,
  &:not(:selected):not(:backdrop):active { background-color: $base_color; }

  &:backdrop { background-color: $backdrop_base_color; }

  &:last-child { margin-bottom: 0; }

  > grid { margin-top: -24px; }
}

.list-box-app-row {
  border-radius: 0px;
  border-left: 1px solid $borders_color;
  border-right: 1px solid $borders_color;
  margin: -1px 0;
}

//Star color can not be set, so this gives the stars a background in the dark theme
.star{
  @if $variant=='dark'{
    border-radius: $small_radius;
    box-shadow: inset 0 0 10px 10px #fdfdfd;
  }
}
//Background color can not be set, so use a inset-box-shadow
.application-details-infobar {
  box-shadow: inset 0 0 100px 100px $base_color;
}
.category_page_header_filter_box  {
    box-shadow: inset 0 0 100px 100px $base_color;
}

/***********
 * Gedit *
 ***********/

.gedit-bottom-panel-paned ~ statusbar {
  // give gedit's bottom panel a border
  border-top: 1px solid $borders_color;

    &:backdrop { border-color: $backdrop_borders_color; }
}

.gedit-search-slider {
  // gives gedit search entry some padding and a border
  // otherwise it's right under the headerbar
  background: $bg_color;
  border: 1px solid $borders_color;
  border-top-style: none;
  padding: 4px 8px;
  border-radius: 0 0 5px 5px; // same radius as tooltips

  &:backdrop {
    background-color: $backdrop_bg_color;
    border-color: $backdrop_borders_color;
  }
}

.gedit-search-entry-occurrences-tag {
    color: transparentize($fg_color, 0.65);
    border: none; // Removed ugly tag border
    box-shadow: none; // Removed button inset shadow
    margin: 2px;
    padding: 2px;
}

.gedit-document-panel { // 'documents' pane

    row.activatable { padding: 6px; }

    row button { // 'close' button
        min-width: 22px;
        min-height: 22px;
        padding: 0;
        margin: 0;
        border: none;
    }

    row:hover button {
        &:hover {
            background-color: rgba($fg_color, 0.15);
        }
        &:active {
            background-color: rgba($fg_color, 0.25);
        }
    }

    row:hover:selected button:hover {
        color: $selected_fg_color;
    }
}

/***********
 * GNOME Disks *
 ***********/

headerbar button image ~ window decoration ~ menu separator {
  // gnome disks headerbar menu seems to inherit the headerbar separator bg color
  // no unique class names or id used here so this rule is as specific as it can be
  background: $borders_color;
}

/***********
 * Nemo *
 ***********/

 .nemo-window {
  .sidebar  {
    scrolledwindow.frame.nemo-places-sidebar {
      // get rid of double border in sidebar
      border: none;
    }

    treeview {
      // use sidebar bg color
      background-image: image($sidebar_bg_color);
      &:backdrop { background-image: image($backdrop_sidebar_bg_color); }
    }
  }

 toolbar.horizontal.primary-toolbar {
   // add border under toolbar
    border-bottom: 1px solid $borders_color;

    widget.linked.raised button {
    // use proper icons for next and left in stackswitcher-like pathbar
    &:first-child widget {-gtk-icon-source: -gtk-icontheme('go-previous-symbolic'); }
    &:last-child widget {-gtk-icon-source: -gtk-icontheme('go-next-symbolic'); }
  }

  toolitem box widget * {
    // reset toolbar button dimensions
    min-height: 0;
    min-width: 0;
  }

  .linked button {
    // link linked buttons
    margin-right: 0;
  }

    button {
      // return non-flat buttons
      @each $state, $t in ("", "normal"),
                          (":hover", "hover"),
                          (":active, &:checked", "active"),
                          (":disabled", "insensitive"),
                          (":disabled:active, &:disabled:checked", "insensitive-active"),
                          (":backdrop", "backdrop"),
                          (":backdrop:active, &:backdrop:checked", 'backdrop-active'),
                          (":backdrop:disabled", 'backdrop-insensitive'),
                          (":backdrop:disabled:active, &:backdrop:disabled:checked", 'backdrop-insensitive-active') {
                            &#{$state} { @include button($t) }
      }
    }
  }
}

/*************
* GNOME ToDo *
**************/

.org-gnome-Todo {
  taskrow.activatable.new-task-row button.popup.toggle {
   border-radius: 0px $small_radius $small_radius 0px ;
   border: none;
   border-left: 1px solid $borders-color;
   padding-left: 10px; padding-right: 10px;
   -gtk-outline-radius: 0px $small_radius $small_radius 0px;

  }

  viewport.view, listbox.transparent {
   background-color: darken($base_color,5%);
   &:backdrop { background-color: $backdrop_base_color}
  }
}

/*********************
 * Chrome / Chromium *
 *********************/
window.background.chromium {
  button.titlebutton {
    padding: 0;

    &:not(.appmenu){
      &:hover { @include draw_circle($headerbar_bg_color, $size:20px) ; }
    }
    &.close:not(:backdrop) {
      @include draw_circle($selected_bg_color, $close:true, $size:20px);
    }
  }
  menuitem { border-radius: 0; }
}

/*********************
 * GNOME Photos *
 *********************/
//removes the black background for picture tiles
.documents-scrolledwin.frame.frame widget flowboxchild.tile { background-color: transparent; }

/*********************
 * Firefox *
 *********************/
#MozillaGtkWidget.background  {
  > widget {
    > scrolledwindow > textview {
      text {
        &:selected { @extend %selected_text; border-color: $selected_bg_color;}
      }
    }
  }

  headerbar.titlebar {
    //Remove the round corners until firefox fixed the white border bleed at the top edges
    border-radius: 0;
  }

  > menu, .menu { border: none; } // Removed ugly menu borders
  > menu > menuitem { border-radius: 0; } // Removed rounded menu corners
}
