// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$ash: #878787;

// Utility
$red: #ED3146;
$orange: #E95420;
$yellow: #F89B0F;
$green: #3EB34F;
$blue: #19B6EE;
$purple: #762572;

// Terminal colors
$terminal_base_color: #213D45;
$terminal_bg_color: #17333C;
$terminal_fg_color: white; // #5D6C71;
$terminal_text_color: #D0D7D9;
$terminal_borders_color: #74888D;
$terminal_selected_bg: #102A37;

// Widget Colors
$headerbar_bg_color: #292929;
$menubar_bg_color: lighten($headerbar_bg_color, 2.5%);
$headerbar_fg_color: $porcelain;
$headerbar_text_color: $silk;
$headerbar_insensitive_color: mix($headerbar_fg_color, $headerbar_bg_color, 50%);
//
$headerbar_backdrop_insensitive_color: mix($headerbar_fg_color, $headerbar_bg_color, 35%);
$backdrop_headerbar_bg_color: lighten($headerbar_bg_color, 5%);
$headerbar_backdrop_fg_color: mix($headerbar_fg_color, $headerbar_bg_color, 80%);
$headerbar_backdrop_text_color: mix($headerbar_text_color, $backdrop_headerbar_bg_color, 80%);
$backdrop_menubar_bg_color: lighten($menubar_bg_color, 5%);
//
