name: Report LP issue on GitHub
on:
  push:
    paths:
      - '.github/workflows/track-lp-issues.yaml'
      - '.github/lpbugtracker.py'
  schedule:
    - cron: '0 20 * * *'

jobs:
  add-lp-issues:
    name: Port LP issues into Yaru bug tracker
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - uses: actions/checkout@v6
      - name: Install Python 3
        uses: actions/setup-python@v6.0.0
      - uses: canonical/desktop-engineering/gh-actions/common/dpkg-install-speedup@main
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install launchpadlib
          sudo apt install hub
      - name: Mirror Yaru bugs from Launchpad
        id: getlpbugs
        run: |
          python .github/lpbugtracker.py

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
